
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
nav {
    background: #333;
    color: rgb(225, 214, 214);
    overflow: auto;
    padding: 15px;
}
.logo {
    float: left;
    font-size: 22px;
    font-weight: bold;
}
.menu {
    float: right;
}
.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.menu a:hover {
    color: #ff8c00;
}
.home {
    text-align: center;
    padding: 60px;
}


.about {
    width: 80%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-top: 30px;
}

.about img {
    width: 180px;
    border-radius: 10px;
    margin-top: 15px;
}
.skills-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

.skill-card {
    width: 230px;
    background: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
form {
    background: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}
button:hover {
    background: #0099ff;
}